.tableWrraper {
  margin: 0 auto;
  padding-top: 100px;
}

.table {
  display: block;
  margin-left: 20px;
  width: 400px;
  height: 500px;
  overflow-y: scroll;
  font-size: 16px;

  &__body {
    text-align: center;
    cursor: pointer;
  }

  &__img {
    position: absolute;
    left: 2px;
      width: 23px;
      height: 23px;
  }

  th, td {
    position: relative;
    background-color: #fffd;

    &:first-child {
      padding-left: 20px;
    }
  }
}

::-webkit-scrollbar {width: 8px; height: 8px;}
::-webkit-scrollbar-corner {background: transparent}
::-webkit-scrollbar-track {background: #a52a2a89; border-radius: 15px;}
::-webkit-scrollbar-thumb {
  background: white;
  border: 1px solid;
  border-left-width: 0; 
  border-right-width: 0;
  border-radius: 15px;
}