.tableWrraper {
  margin: 0 auto;
  padding-top: 100px;
}

.table {
  min-width: 300px;
  min-height: 400px;
  margin-left: 20px;

  &__body {
    text-align: center;
    cursor: pointer;
  }

  &__img {
    position: absolute;
    left: 2px;
      width: 23px;
      height: 23px;
  }

  th, td {
    position: relative;
    background-color: #fffd;
    text-align: center;
    font-size: 14px;
  }
  
  thead > tr > th {
    font-size: 20px;
  }
}

.hide {
  display: none;
}

::-webkit-scrollbar {width: 8px; height: 8px;}
::-webkit-scrollbar-corner {background: transparent}
::-webkit-scrollbar-track {background: #a52a2a89; border-radius: 15px;}
::-webkit-scrollbar-thumb {
  background: white;
  border: 1px solid;
  border-left-width: 0; 
  border-right-width: 0;
  border-radius: 15px;
}