@import './table';
@import './countriesList';
@import './chart';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: url('../assets/images/coronavirus.jpg') center / cover no-repeat;
  font-family: trebuchet ms, sans-serif;
}

/* GLOBAL MAP */

.global-map {
  width: 100%;
  height: 500px;
}

#global-map__wrapper {
  width: 100%;
  height: 100%;
  background: #1a1c29;
  border: 5px solid #0e101d;
}

#myChart {
  width: 100%;
  height: 250px;
  background-color: aliceblue;
}

.chart__container {
  grid-column-start: 1;
  grid-column-end: 3;
  max-height: 300px;
  overflow-y: scroll;
}
.global-map_full-screen {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #5a5a5a;
  transition: all 0.3s;
}

.global-map_full-screen .mdi-fullscreen {
  font-size: 25px;
  color: white;
}

.global-map_full-screen:hover {
  background: rgb(151, 24, 24);
}

.global-map_full-screen--active {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 98;
}
/* ROOT */

#root {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  grid-gap: 5px;
}

.full__screen-countries-btn, .full__screen-table-btn {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 98;
  cursor: pointer;
  transition: all 0.3s;
  background: #5a5a5a;

  .mdi-fullscreen {
    color: white;
  }
}

.full__screen-countries-btn:hover {
  background: rgb(151, 24, 24);
}

.full__screen-table-btn:hover {
  background: rgb(151, 24, 24);
}

.full__screen {
  height: 98%;
  width: 98%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}

.ul__full-screen {
  height: 100%;
}

@import './media';