@import './table';
@import './countriesList';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: url('../assets/images/coronavirus.jpg') center / cover no-repeat;
  font-family: trebuchet ms, sans-serif;
  outline: none;
}