@import './table';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: url('../assets/images/coronavirus.jpg') center / cover no-repeat;
  font-family: trebuchet ms, sans-serif;
}

/* GLOBAL MAP */

#global-map {
  width: 100%;
  height: 500px;
  background: #1a1c29;
  border: 5px solid #0e101d;
}